canvas{display: none;}
#myModal{
display: none;    
position:fixed;
z-index: 6000;
left: 0;
top: 0;
/*width: 100%;
height: 100%;*/
overflow: auto; 
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4); 
}
object{
    width: 100%;
    height: 100%;    
}
#modalContent{
    width: 100%;
    height: 100%;     
}

#myModalClose{
position:absolute;    
padding: 50px;    
top:0;
right:0;
color: #fff;
font-size: 28px;
font-weight: bold;    
}

#myModalClose:hover,
#myModalClose:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.arloading{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 500%;
    text-align: center;
}

/*#arViewWindow{
  postion:absolute !important;
   background: rgba(51,51,51,0.7);
    z-index: 10;
  width:100%;
  height:100%;    
  top:0;
  left:0;  
}*/