<?xml version="1.0.0" encoding="UTF-8" ?>
<module>
	<name>sizeinreality</name>
	<displayName><![CDATA[SizeInReality]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Module to place 3d objects in real world.]]></description>
	<author><![CDATA[Enqos]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
